<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-6909172246232011/3884129919</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-6909172246232011/8561741521</string>
	<key>CLIENT_ID</key>
	<string>1058820253214-r363kuodnh6o1dhqehbn1abqcubfvvsf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1058820253214-r363kuodnh6o1dhqehbn1abqcubfvvsf</string>
	<key>API_KEY</key>
	<string>AIzaSyDL4O5XZeRoMFfXPFG9Ax9-qbK-noe7HX4</string>
	<key>GCM_SENDER_ID</key>
	<string>1058820253214</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.swjsourcing.kickstartfootballnews</string>
	<key>PROJECT_ID</key>
	<string>kickstartfootball-live-score</string>
	<key>STORAGE_BUCKET</key>
	<string>kickstartfootball-live-score.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1058820253214:ios:ae75e157ce56766e</string>
	<key>DATABASE_URL</key>
	<string>https://kickstartfootball-live-score.firebaseio.com</string>
</dict>
</plist>
